<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zjp.home">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application>


        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.WebViewActivity" />
    </application>

</manifest>